.row
    .col100
        img.header(src='../../resources/banner.png')

.row
    .col100
        .header.small Login:
        .labeled.icon
            i.left.fa.fa-user
            input(type='text', placeholder='login', required)
    .col100
        .header.small Hasło:
        .labeled.icon
            i.left.fa.fa-key
            input(type='password', placeholder='hasło', required)
.row
    .col50
        button.blue Zaloguj się
    .col50
        span.color-info.pull-right Ver. 0.0.1