// Pole formularza
mixin formField(icon, type, placeholder, model)
    .labeled.icon
        i(class='left fa fa-#{icon}')
        input(type=type, placeholder=placeholder, ng-model=model, required)&attributes(attributes)

.row
    .col100
        img.header(src='../../data/banner.png')

strong.header-title Wybierz tryb działania aplikacji:
.row
    .col100
        input(type='radio', ng-model='apiMode', ng-value='false')
        span Przez parsowanie strony(szybsza aktualizacja, powiązana z zalogowanym kontem)

    .col100
        input(type='radio', ng-model='apiMode', ng-value='true')
        span.color-info Przez API(wolniejsza aktualizacja, wymagane logowanie)

// Tryb API
.api-mode(ng-show='apiMode')
    .row
        .col100(ng-show='error')
            .message.danger
                i.fa.fa-exclamation-triangle.fa-lg
                | {{ error }}
    strong.header-title Dane użytkownika:
    .row
        .col100 #[+formField('user', 'text', 'login', 'data.userLogin')]
        .col100 #[+formField('key', 'text', 'klucz konta', 'data.userKey')]

    strong.header-title Dane API:
    .row
        .col100 #[+formField('key', 'text', 'klucz aplikacji', 'data.apiKey')]
        .col100 #[+formField('key', 'text', 'prywatny klucz aplikacji', 'data.apiSecret')]

.row.login-toolbar
    .col50
        button.blue(ng-click='fn.login()') Zaloguj się
    .col50
        span.color-info.pull-right Ver. 0.0.1