html
    head(lang='pl')
        meta(charset='UTF-8')
        // bower:css
        link(rel='stylesheet', href='../../build/bower_components/cleancss/dist/cleancss.min.css')
        link(rel='stylesheet', href='../../build/bower_components/font-awesome/css/font-awesome.min.css')
        // endbower
        link(rel='stylesheet', href='../../build/css/popup.css')
        link(rel='stylesheet', href='../../resources/font/style.css')

    body
        // bower:js
        script(src='../../build/bower_components/jquery/dist/jquery.js')
        // endbower
        .page
            .row
                .col100
                    img.header(src='../../resources/banner.png')

            .row
                .col100
                    .header.small Login:
                    .labeled.icon
                        i.left.fa.fa-user
                        input(type='text', placeholder='login', required)

                .col100
                    .header.small Hasło:
                    .labeled.icon
                        i.left.fa.fa-key
                        input(type='password', placeholder='hasło', required)
            .row
                .col50
                    button.blue Zaloguj się
                .col50
                    span.color-info.pull-right Ver. 0.0.1

