doctype html
html
    head(lang='pl')
        meta(charset='utf-8')
        // bower:css
        link(rel='stylesheet', href='../../bower_components/cleancss/dist/cleancss.min.css')
        link(rel='stylesheet', href='../../bower_components/font-awesome/css/font-awesome.min.css')
        // endbower
        link(rel='stylesheet', href='../../data/css/popup.css')
        link(rel='stylesheet', href='../../data/font/style.css')

    body(night-mode)
        // bower:js
        script(src='../../bower_components/jquery/dist/jquery.js')
        script(src='../../bower_components/angular/angular.js')
        script(src='../../bower_components/angular-route/angular-route.js')
        script(src='../../bower_components/is_js/is.js')
        script(src='../../bower_components/underscore/underscore.js')
        // endbower
        script(src='../../js/popup.js')

        .page(ng-view)
