body {
  font-family:  'Myriad Pro';
  font-size:    14px;

  width:        256px;
  margin:       0;
  padding:      2px 10px;
};
div[class*='col'] {
  vertical-align: bottom;
};

.inline-menu a:first-child {
  margin-left: 0;
};